body{
    margin: 0;
}
.topNav{
    color: white;
    background-color: #04AA6D;
}
.topNav a{
    padding: 20px 32px;
    font-size: 24px;
}
.title{
    font-size: 20px;
    text-align: center;
}
#formContainer{
    width:40%;
    margin:auto;
    background-color: #36BB8A;
    padding: 25px;
  }
  #formC{
    width:100%;
  }
  .rows{
    width:100%;
    display:block;
  }
  .column{
      width:100%;
      display:inline-block;
  }
  .theLabels{
    width:30%;
    float: left;
  }
  .theInputs{
    width:60%;
    float:right;
  }
.save{
    border-radius: 4px;
    text-align: center;
}